Source: mod-auth-mysql
Section: httpd
Priority: optional
Maintainer: Joey Schulze <joey@debian.org>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 7.0.50~), dpatch, libmysqlclient-dev, apache2-dev (>= 2.4)

Package: libapache2-mod-auth-mysql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache 2 module for MySQL authentication
 A module for the Apache 2 web server which enables HTTP authentication
 against information stored in a MySQL database.
