#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with apache2

override_dh_auto_install:
	install .libs/apache2_mod_auth_mysql.so debian/libapache2-mod-auth-mysql/usr/lib/apache2/modules
	install .libs/auth_mysql.load debian/libapache2-mod-auth-mysql/etc/apache2/mods-available
